@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 9;
  background: #f8f8fa;
}

.navbar .nav {
  padding: 10px 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .nav__logo {
  height: 60px;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-items a {
  margin-left: 20px;
}

.nav-items a img {
  width: 25px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
}

.search__box {
  width: 80%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid darkblue;
  text-transform: capitalize;
  background: none;
  color: black;
  outline: none;
}

.search__btn {
  width: 20%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #383838;
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid darkblue;
}

.search__btn:hover {
  background: #fff;
  color: #383838;
}

.links-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10vw;
  list-style-type: none;
  border-top: 1px solid black;
  background-color: white;
}

.links-container .link-item .link {
  text-transform: uppercase;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #383838;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.links-container .link-item .link:hover, .links-container .link-item .link:focus {
  opacity: 1;
}

.hero {
  width: 100%;
  height: calc(40vh - 80px);
  background-image: url("../images/header.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__logo {
  height: 150px;
  display: block;
  margin: auto;
}

.hero .sub-heading {
  margin-top: 10px;
  text-align: center;
  color: white;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 300;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}

.product__category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.product__container {
  padding: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product__container::-webkit-scrollbar {
  display: none;
}

.product__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product__image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product__thumb {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product .discount-tag {
  position: absolute;
  background: white;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.product .card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: white;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product__card:hover .card-btn {
  opacity: 1;
}

.product__card:hover .card-btn:hover {
  background: #e5e6eb;
}

.product__info {
  width: 100%;
  height: 100px;
  padding: 10px;
}

.product__info .brand {
  text-transform: uppercase;
}

.product__info .short-desc {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: 5px 0;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
}

.product__info .price {
  font-weight: 900;
  font-size: 20px;
}

.product__info .actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.product .pre-btn,
.product .nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#fff));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.product .pre-btn img,
.product .nxt-btn img {
  opacity: 0.2;
}

.product .pre-btn:hover img,
.product .nxt-btn:hover img {
  opacity: 1;
}

.product .pre-btn {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.product .nxt-btn {
  right: 0;
}

.collections {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collections__item {
  position: relative;
}

.collections__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.collections__item p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 40px;
  text-transform: capitalize;
}

.collections__item:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 20px;
}

footer {
  position: relative;
  width: 100%;
  padding: 40px 10vw;
  padding-bottom: 80px;
  background-color: #383838;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .logo {
  height: 60px;
}

.footer__ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__ul .category {
  width: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  list-style: none;
}

.footer__ul .category__title {
  grid-column: span 2;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer__ul .category__link {
  text-decoration: none;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
}

.footer__ul .category__link:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
}

.footer__title, .footer__info {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 20px;
  text-transform: capitalize;
}

.footer__title {
  margin-top: 80px;
  color: #fff;
}

.footer__social {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.footer__social-link:nth-child(1) {
  margin-left: 0;
}

.footer__credit {
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  background: rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}

.product-details {
  width: 100%;
  padding: 60px 10vw;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-details .image-slider {
  width: 500px;
  height: 500px;
  position: relative;
  background-image: url("../images/product-image-1.png");
  background-size: cover;
}

.product-details__images {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  background: #fff;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  height: 100px;
  grid-gap: 10px;
  padding: 10px;
}

.product-details__images img {
  width: 100%;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.product-details__images img.active {
  opacity: 0.5;
}

.product-details .details {
  width: 50%;
  padding: 10px;
}

.product-details .details__product-brand {
  text-transform: capitalize;
  font-size: 30px;
}

.product-details .details__short-desc {
  font-size: 25px;
  line-height: 30px;
  height: auto;
  margin: 15px 0 30px;
}

.product-details .details .product-price {
  font-weight: 700;
  font-size: 30px;
}

.product-details .details .product-actual-price {
  font-size: 30px;
  opacity: 0.5;
  text-decoration: line-through;
  margin: 0 20px;
  font-weight: 300;
}

.product-details .details .product-discount {
  color: #ff7d7d;
  font-size: 20px;
}

.product-details .sub-heading {
  font-size: 30px;
  text-transform: uppercase;
  margin: 60px 0 10px;
  font-weight: 300;
}

.product-details .size-radio-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #383838;
  border-radius: 50%;
  margin: 10px;
  margin-left: 0;
  line-height: 40px;
  text-transform: uppercase;
  color: #383838;
  cursor: pointer;
}

.product-details .size-radio-btn.check, .product-details .size-radio-btn:hover {
  background: #383838;
  color: #fff;
}

.product-details .btns {
  margin-top: 10px;
}

.product-details .btn {
  width: 48%;
  padding: 10px;
  border-radius: 5px;
  background: none;
  border: 1px solid #383838;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
  text-transform: capitalize;
}

.product-details .btn:hover {
  background: #383838;
  color: #fff;
}

.product-details .card-btn {
  margin-right: 2%;
  background: #383838;
  color: #fff;
}

.product-details .card-btn:hover {
  background: #fff;
  color: #383838;
}

.detail-desc {
  padding: 0 10vw;
  text-transform: capitalize;
}

.detail-desc .heading {
  font-size: 30px;
  margin-bottom: 30px;
}

.detail-desc__info {
  color: #383838;
  line-height: 25px;
}

.search-results .heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 40px;
  padding: 0 10vw;
}

.search-results .heading span {
  font-weight: 700;
}

.search-results .product__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  height: auto;
  grid-row-gap: 40px;
}

.signup .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: #f5f5f5;
}

.signup .logo {
  height: 80px;
  display: block;
  margin: 0 auto 50px;
}

.signup form {
  width: 300px;
  position: relative;
}

.signup form .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.signup form input[type='text'],
.signup form input[type='password'],
.signup form input[type='email'] {
  display: block;
  width: 300px;
  height: 40px;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  border: none;
  outline: none;
  margin: 20px 0;
  text-transform: uppercase;
  color: #383838;
  font-size: 16px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
}

.signup form ::-webkit-input-placeholder {
  color: #383838;
  font-size: 14px;
}

.signup form :-ms-input-placeholder {
  color: #383838;
  font-size: 14px;
}

.signup form ::-ms-input-placeholder {
  color: #383838;
  font-size: 14px;
}

.signup form ::placeholder {
  color: #383838;
  font-size: 14px;
}

.signup form .checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background: #fff;
  border: #383838;
  cursor: pointer;
  margin-right: 5px;
}

.signup form .checkbox:checked {
  background: #383838;
}

.signup form .checkbox:after {
  content: '';
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
  pointer-events: none;
  background: url("../images/check.png") no-repeat;
  background-size: contain;
  display: none;
}

.signup form .checkbox:checked:after {
  display: block;
}

.signup form label {
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  color: #383838;
}

.signup form label a {
  color: #383838;
}

.signup form .submit-btn {
  width: 300px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #383838;
  color: #fff;
  border-radius: 2px;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.signup form .submit-btn:hover {
  background: #fff;
  color: #383838;
}

.signup .login-link {
  margin-top: 20px;
  color: #383839;
}

.signup .alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  background: #fff;
  -webkit-box-shadow: 0 5px 100px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 100px rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.signup .alert.show {
  opacity: 1;
  pointer-events: all;
  position: absolute;
  top: -50px;
}

.signup .alert__img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.signup .alert__msg {
  color: #383838;
  font-size: 15px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
  z-index: 99;
  display: none;
}

.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100px;
}

.section {
  width: 100%;
  padding: 60px 10vw;
  margin-top: 40px;
}

.page-not-found .four-0-four-img {
  margin: 60px auto;
  display: block;
}

.page-not-found .four-0-four-msg {
  text-align: center;
  text-transform: capitalize;
  color: #383838;
}

.page-not-found .four-0-four-msg a {
  color: #383838;
}
/*# sourceMappingURL=global.css.map */