@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

// @import './variables.scss';
@import './nav.scss';
@import './home.scss';
@import './products.scss';
@import './collections.scss';
@import './footer.scss';
@import './product.scss';
@import './seach.scss';
@import './signup.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;

	justify-content: center;
	align-items: center;
	background: #f5f5f5;
	z-index: 99;
	display: none;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%);
		width: 100px;
	}
}

.section {
	width: 100%;
	padding: 60px 10vw;
	margin-top: 40px;
}

// 404 - Page Not Found
.page-not-found {
	.four-0-four-img {
		margin: 60px auto;
		display: block;
	}

	.four-0-four-msg {
		text-align: center;
		text-transform: capitalize;
		color: #383838;
		a {
			color: #383838;
		}
	}
}
