.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 9;
  background: #f8f8fa;
}

.navbar .nav {
  padding: 10px 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .nav__logo {
  height: 60px;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-items a {
  margin-left: 20px;
}

.nav-items a img {
  width: 25px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
}

.search__box {
  width: 80%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid darkblue;
  text-transform: capitalize;
  background: none;
  color: black;
  outline: none;
}

.search__btn {
  width: 20%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background: white;
  color: black;
  text-transform: capitalize;
  font-size: 14px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid darkblue;
}

.links-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10vw;
  list-style-type: none;
  border-top: 1px solid black;
  background-color: white;
}

.links-container .link-item .link {
  text-transform: uppercase;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #383838;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.links-container .link-item .link:hover, .links-container .link-item .link:focus {
  opacity: 1;
}

.hero {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url("../images/header.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__logo {
  height: 150px;
  display: block;
  margin: auto;
}

.hero .sub-heading {
  margin-top: 10px;
  text-align: center;
  color: white;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 300;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}

.product__category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.product__container {
  padding: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product__container::-webkit-scrollbar {
  display: none;
}

.product__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product__image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product__thumb {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product .discount-tag {
  position: absolute;
  background: white;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.product .card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: white;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product__card:hover .card-btn {
  opacity: 1;
}

.product__card:hover .card-btn:hover {
  background: #e5e6eb;
}

.product__info {
  width: 100%;
  height: 100px;
  padding: 10px;
}

.product__info .brand {
  text-transform: uppercase;
}

.product__info .short-desc {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: 5px 0;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
}

.product__info .price {
  font-weight: 900;
  font-size: 20px;
}

.product__info .actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.product .pre-btn,
.product .nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#fff));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.product .pre-btn img,
.product .nxt-btn img {
  opacity: 0.2;
}

.product .pre-btn:hover img,
.product .nxt-btn:hover img {
  opacity: 1;
}

.product .pre-btn {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.product .nxt-btn {
  right: 0;
}

.collections {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collections__item {
  position: relative;
}

.collections__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.collections__item p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 40px;
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}
/*# sourceMappingURL=global.css.map */