// @import './variables.scss';
@import './nav.scss';
@import './home.scss';
@import './products.scss';
@import './collections.scss';
@import './footer.scss';
@import './product.scss';
@import './seach.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'roboto', sans-serif;
}
