.hero {
	width: 100%;
	height: calc(40vh - 80px);
	background-image: url('../images/header.png');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

	&__logo {
		height: 150px;
		display: block;
		margin: auto;
	}

	.sub-heading {
		margin-top: 10px;
		text-align: center;
		color: white;
		text-transform: capitalize;
		font-size: 30px;
		font-weight: 300;
	}
}
