.search-results {
	width: 100%;
	padding: 60px 0;
	margin-top: 40px;

	.heading {
		font-size: 20px;
		text-transform: capitalize;
		font-weight: 400;
		margin-bottom: 40px;
		padding: 0 10vw;

		span {
			font-weight: 700;
		}
	}

	.product__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		height: auto;
		grid-row-gap: 40px;
	}
}
